* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: auto;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hours {
  display: flex;
  align-items: center;
  gap: 8px;
}

.phoneDiv {
  display: flex;
  align-items: center;
  gap: 8px;
}

.messageDiv {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
input {
  width: 100%;
  cursor: pointer;
}

input[type="submit"] {
  width: 50%;
  cursor: pointer;
}

.contact-container {
  display: flex;
  flex-flow: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.info-container {
  width: 280px;
}

.map-container {
}

li {
  list-style: none;
  font-size: 24px;
  font-weight: bold;
}

.menuList {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

.itemDiv {
  width: 100%;
  box-sizing: border-box;
}

.ourMenu {
  text-align: center;
  font-size: 40px;
}
